﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="kayit.aspx.cs" Inherits="kayit" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>KUARA</title>
  
  
  

      
    <style type="text/css">
        .baslik{top:18%; left:37%; position:absolute; }
        .tablo {
            top: 40%;
            left: 33%;
            position: absolute;
            border-color: black;
            border-radius: 15px;
        }
        .box{ border-color:lightgrey; border-radius:10px;  height:21px; width:190px; }
        .button{  border-color:lightgrey; border-radius:15px;  height:21px; width:100px;  background-color:whitesmoke;}
    </style>
  
  
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table class="baslik">
            <tr>
                <td >
                     <asp:Image ID="logo" runat="server" ImageUrl="~/image/kuara-logo.jpg" Width="328" Height="100"  />
                </td>
                 </tr>
            </table>
        <table class="tablo"><tr><td></td></tr>
            <tr><td>
                <asp:Label ID="Label1" runat="server" Text="Adınız:"></asp:Label></td><td></td><td>
                    <asp:Label ID="Label2" runat="server" Text="Soyadınız:"></asp:Label></td></tr>
       
            <tr><td>
                <asp:TextBox ID="ad"  CssClass="box" runat="server"></asp:TextBox>  </td><td></td><td>
                    <asp:TextBox ID="soyad" CssClass="box" runat="server"></asp:TextBox> </td></tr>
           
            <tr><td>
                <asp:Label ID="Label3" runat="server" Text="Email:"></asp:Label></td><td></td></tr>
       
            <tr><td>
                <asp:TextBox ID="email"  CssClass="box" runat="server" TextMode="Email"></asp:TextBox>  </td><td></td><td>
                    </td></tr>
            <tr><td>
                <asp:Label ID="Label4" runat="server" Text="Şifre:"></asp:Label></td><td></td></tr>
       
            <tr><td>
                <asp:TextBox ID="sifre"  CssClass="box" runat="server"></asp:TextBox>  </td><td ></td><td>
                    </td></tr>
            <tr> 
                <td></td> <td> 
                    <asp:Button ID="Button1" runat="server" Text="KAYDET" CssClass="button" OnClick="Button1_Click" /> </td>
                      </tr>
        </table>
    </div>
    </form>
</body>
</html>
