﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="login.aspx.cs" Inherits="login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">

    <title>KUARA</title>
    <style>
        .box{border-radius:11px;}
       
        .auto-style1 {
            height: 42px;
        }

        .auto-style2 {
            height: 38px;

        }

        .auto-style3 {
            margin-left: 608px;
            border-radius:11px;
        }

        .auto-style4 {
            margin-left: 878px;
        }

        </style>
</head>
<body>
    <script> </script>
    <form id="form1" runat="server">
    <div>
        <table style="margin-left: 96px"> <tr><td>
            <asp:Button ID="kayit" runat="server" Text="Kayıt Ol" Width="74px" CssClass="auto-style4" OnClick="kayit_Click" /></td></tr>
            <tr>
                <td>
                     <asp:Image ID="logo" runat="server" ImageUrl="~/image/kuara-logo.jpg" Width="328" Height="100" style="margin-left: 399px; margin-top: 100px;" />
                </td>
                 </tr><tr><td class="auto-style1"></td></tr>
                <tr><td>
                    <asp:Label ID="Label1" runat="server" Text="Email:" Height="19px" Font-Size="24px" ForeColor="#444444" Width="200px" style="margin-left: 409px; margin-top: 29px"></asp:Label>
               
                    </td></tr>
            <tr><td>
                <asp:TextBox ID="email" Width="297px" Height="26px" CssClass="box" runat="server" style="margin-left: 410px" TextMode="Email"></asp:TextBox>

                </td></tr>
          
                <tr><td>
                    <asp:Label ID="Label2" runat="server" Text="Şifre:" Height="19px"  Font-Size="24px" ForeColor="#444444" Width="200px" style="margin-left: 409px; margin-top: 29px"></asp:Label>
               
                    </td></tr>
            <tr><td>
                <asp:TextBox ID="sifre" Width="296px" Height="26px" CssClass="box" runat="server" style="margin-left: 410px" TextMode="Password"></asp:TextBox>

                </td></tr>

            <tr><td class="auto-style2"></td></tr>
            <tr><td><asp:Button ID="giris" runat="server" Text="Giriş Yap" Width="107px" ForeColor="#444444" CssClass="auto-style3" OnClick="giris_Click" /></td></tr>
            <tr><td>
                <asp:Label ID="lblnot" runat="server" Text=""></asp:Label></td></tr>
        </table>
       
    </div>

        

    </form>
</body>
</html>
